/*TODO: Add a background color or image to your website*/
body {
  background-color: #faf6f2; 
  }

*{
  margin:0px;
}

/*TODO: Create a new style rule by the class attribute and style the header section(s) of your website. */
.header{
  background-color:#ded1bd;
padding:100px;
  color: black;
  text-align:center;
  letter-spacing:2px;
  font-family:"copperplate gothic light"
  

}
#mainimage{
  border-radius:100%;
  margin:40px;
  
}
/*TODO: Style the Nav Bar by selecting the u1, li, and li a elements*/


ul {
  list-style-type: none;
  background-color: #003046;
  padding:30px;
}
  
li {
  display: inline;
  padding:10px;
}

  li a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.3em;
   font-family:"copperplate gothic light"
  
 
}



/*TODO: Add styling rules for the text and images on your website.*/
#introtext{ 
  text-align:center;
  letter-spacing:2px;
  font-size:20px;
  font-family:"copperplate gothic light"
    display: flex;
flex-wrap:wrap;
  padding:80px;
 margin:0px;
  

  
}










/*TODO: Create a Flexbox to create a responsive layout. Use the property display: flex;*/ 
