/*TODO: Add a background color or image to your website*/
body {
  background-color: #fdffdf; 
  }



/*TODO: Create a new style rule by the class attribute and style the header section(s) of your website. */
.header{
  background-color:#ffffc2;
padding:80px;
  color: black;
  text-align:left;
  letter-spacing:2px;
  font-family:"copperplate gothic light"
  

}


/*TODO: Add styling rules for the text and images on your website.*/
#introtext{ 
  text-align:center;
  letter-spacing:2px;
  font-size:20px;
  font-family:"copperplate gothic light"
    display: flex;
flex-wrap:wrap;
  padding:80px;
 margin:0px;
  background-color:#ffffc2;

  
}





/*TODO: Style the Nav Bar by selecting the u1, li, and li a elements*/

ul {
  list-style-type: none;
  background-color: #dcdcdc;
  display:flex;
    justify-content;flex-end;
}
li {
  display: inline;
  float:left;
  padding:8px;
}

  
  li a {
  color: gray;
  text-align: center;
  font-size: 1.3em;
  font-family:"copperplate gothic light"
    
}




/*TODO: Create a Flexbox to create a responsive layout. Use the property display: flex;*/ 
