/*TODO: Add a background color or image to your website*/
body {
  background-color: #ececec; 
  }



/*TODO: Create a new style rule by the class attribute and style the header section(s) of your website. */
.header{
  background-color:#acb7ae;
  margin: 70px 60px 60px;
  padding:50px;
  color: black;
  text-align:center;
  letter-spacing:2px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
  font-size:0px;
}


/*TODO: Add styling rules for the text and images on your website.*/
#introtext{ 
  text-align:center;
  letter-spacing:2px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}




/*TODO: Style the Nav Bar by selecting the u1, li, and li a elements*/




/*TODO: Create a Flexbox to create a responsive layout. Use the property display: flex;*/ 
